<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users list</title><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <style>
        *{
            margin: 0;
            padding: 0;
            font-family: sans-serif;

        }
        .main{
            height: 100vh;
            width: 85%;
            position: absolute;
            left: 15%;
            background-color:  rgb(231, 237, 240);
            z-index: -1;
        }
        .main h1{
            text-align: center;
            padding-top: 10px;
            font-size: 25px;
            font-weight: bolder;
        }
        .userslist{
            height: 330px;
            width: 100%;
            /* background-color: blue; */
            position: relative;
            top: 20px;
        }
        .heddings{
            height: 30px;
            width: 100%;
            background-color: #b7b7a4;
            position: relative;
            top: -5%;
            display: flex;
            gap: 0px;
            margin-top: 0px;
        }
        .heddings p{
            font-size: 20px;
            /* margin-left:0%; */
            padding-top: 5px;
        }
        .data{
            width: 100%;
            height: 30px;
            /* background-color: red; */
            border-bottom: 1px solid rgba(128, 128, 128, 0.303);
            display: flex;
            gap: .5%;
            position: relative;
            top: -5%;
        }
        .data  .two ,.three ,.four{
            height: 30px;
            width: 24%;
            /* background-color: red; */
            text-align: center;
            display: flex;
            align-items: center;
            /* justify-content: center; */
            color: gray;
        }
        .data .one , .five{
            height: 30px;
            width: 11.5%;
            /* background-color: red; */
            
        }
        .four{
            justify-content: center;
        }
        .five{
            margin-left: 36px;
        }
        .five button{
            height: 30px;
            width: 50%;
            margin-left: 50%;
            background-color: blueviolet;
            border: none;
        }
        .one{
            text-align: center;
            color: blue;
        }
        .fa-user{
            margin-top: 8px;
        }
        .pone{
            margin-left: 13%;
        }
        .ptwo{
            margin-left: 25%;
        }
        .pthree{
            margin-left: 27%;
        }
        .pfour{
            margin-left: 20%;
        }
        .main p{
            font-size: 15px;
           
        }
        .count{
            margin-left: 10px;
            color: gray;
        }
        .main span{
            font-weight: bolder;
            color: black;
        }
        
    </style>
    <%- include("layouts/header") -%>

</head>
<body>
    <%- include('layouts/sidebar') -%>

    <div class="main">
        <h1>List of Users</h1>
        <p class="count">Total number of users : <span><%= usersCount %></span></p>
        <div class="userslist">
            <div class="heddings">
                <p class="pone">Name</p>
                <p class="ptwo">Email</p>
                <p class="pthree">Mobile no </p>
                <p class="pfour">Status</p>
            </div>
            <% userlistdata.forEach((data)=>{ %>
            <div class="data">
                <div class="one"><i class="fa-regular fa-user"></i></div>
                <div class="two"><%= data.username %></div>
                <div class="three"><%= data.email %></div>
                <div class="four"><%= data.mobno %></div>
                <div class="five"><button></button></div>
            </div>
            <% }) %>
        </div>
    </div>
</body>
</html>