<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cart</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }

      .container {
        height: 100vh;
        width: 100%;
      }

      .container h1 {
        position: absolute;
        top: 90px;
        left: 40%;
        /* color: white; */
      }

      .cardHead {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      .card {
        position: relative;
        top: 80px;
        left: 50px;
        height: 200px;
        width: 60%;
        padding: 10px;
        border-radius: 10px;
        background-color: white;
      }

      .part1 {
        height: 50%;
        width: 100%;
        border-bottom: 1px solid #e4e7ea;
        padding-bottom: 10px;
      }

      .part1 .img {
        height: 90%;
        width: 10%;
        position: relative;
        left: 10px;
        top: 5px;
        border-radius: 5px;
      }

      .part1 .img img {
        height: 100%;
        width: 100%;
        border-radius: 5px;
      }

      .detailes {
        height: 90%;
        max-width: 30%;
        position: absolute;
        top: 15px;
        left: 15%;
        line-height: 31px;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
      }

      .detailes .brand {
        color: #fb5607;
      }

      .part1 .buttons {
        position: absolute;
        top: 10px;
        left: 90%;
      }

      .part1 .buttons button {
        height: 40px;
        width: 40px;
        font-size: 15px;
        background: none;
        border: none;
      }

      .part2 {
        height: 50%;
        width: 100%;
        padding-bottom: 10px;
      }

      .part2 .prize {
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
        margin-left: 20px;
      }

      .part2 .prize p {
        font-size: 25px;
      }

      .part2 .prize .prizePart {
        font-size: 25px;
        margin-top: 10px;
        display: flex;
        gap: 20px;
      }

      del {
        color: gray;
        text-decoration: line-through;
      }

      .part2 .quantity p {
        position: absolute;
        top: 130px;
        left: 50%;
        font-size: 20px;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
      }

      .part2 .quantity .button div {
        height: 40px;
        width: 40px;
        background-color: #c8b6ff;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .part2 .button {
        display: flex;
        gap: 10px;
        position: absolute;
        left: 47%;
        top: 165px;
      }

      .part2 .button button {
        height: 30px;
        width: 30px;
        margin-top: 5px;
        border-radius: 30px;
        border: none;
      }

      .part2 .total {
        line-height: 40px;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
      }

      .part2 .total .prize {
        color: #fb5607;
        font-size: 30px;
      }

      .part2 .total h3 {
        position: absolute;
        top: 130px;
        left: 83%;
        font-size: 20px;
        margin-left: 28px;
      }

      .part2 .total span {
        display: flex;
        font-size: 30px;
        position: absolute;
        top: 170px;
        left: 83%;
      }
      /*  orde4r summery */
      .prizeDetailed {
        height: 200px;
        width: 400px;
        background-color: white;
        position: absolute;
        top: 160px;
        left: 70%;
        border-radius: 10px;
        padding-bottom: 20px;
      }

      .prizeDetailed .head {
        border-bottom: 1px solid #e4e7ea;
        height: 20%;
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 25px;
        align-items: center;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
      }

      .prizeDetailed .prizeDetailes {
        height: 75%;
        width: 90%;
        margin-left: 5%;
        margin-top: 5%;
      }

      .prizeDetailed .prizeDetailes div div {
        border-bottom: none;
        margin-left: 62%;
        max-width: 130px;
        text-align: center;
      }

      .prizeDetailed .prizeDetailes div {
        height: 33.3%;
        width: 100%;
        border-bottom: 1px solid #e4e7ea;
      }

      .prizeDetailed .prizeDetailes div p {
        position: relative;
        top: 15px;
        font-size: 15px;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      }

      .prizeDetailed .prizeDetailes .last {
        font-size: 25px;
        font-weight: bolder;
      }

      .desition {
        position: absolute;
        top: 400px;
        left: 70%;
        display: flex;
        gap: 100px;
      }

      .desition button {
        border-radius: 5px;
        border: none;
        height: 40px;
        width: 150px;
        color: white;
        cursor: pointer;
      }
      #cat {
        position: absolute;
        top: 150px;
        left: 30%;
      }
      @media (max-width: 860px) {
        .container h1 {
        position: absolute;
        top: 90px;
        left: 27%;
        font-size: 20px;
        color: white;
      }
      .cardHead {
        gap: 3px;
      }
        .card {
          position: relative;
          top: 130px;
          left: 1%;
          height: 150px;
          width: 94%;
          padding: 10px;
        }
        .prizeDetailed {
          height: 200px;
          width: 98%;
          background-color: white;
          position: relative;
          top: 140px;
          left: 1%;
        }
        .desition {
          position: relative;
          top: 150px;
          left: 1%;
          display: flex;
          gap: 90px;
          padding-bottom: 10px;
        }
        .desition button {
        border-radius: 5px;
        border: none;
        height: 30px;
        width: 130px;
        color: white;
        cursor: pointer;
        font-size: 10px;

      }
      .part1 .img {
        width: 20%;
      }
      .detailes {
        height: 90%;
        max-width: 30%;
        position: absolute;
        top: 15px;
        left: 30%;
        line-height: 25px;
        font-size: 15px;
      }
      .part1 .buttons {
        position: absolute;
        top: 10px;
        left: 75%;
      }

      .part1 .buttons button {
        height: 40px;
        width: 40px;
        font-size: 15px;
        background: none;
        border: none;
      }
      /* part 2 */

      .part2 {
        height: 50%;
        width: 100%;
        padding-bottom: 10px;
      }

      .part2 .prize {
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
        margin-left: 20px;
        margin-top: 10px;
      }

      .part2 .prize p {
        font-size: 15px;
      }

      .part2 .prize .prizePart {
        font-size: 15px;
        margin-top: 10px;
        display: flex;
        gap: 10px;
      }

      del {
        color: gray;
        text-decoration: line-through;
      }

      .part2 .quantity p {
        position: absolute;
        top: 105px;
        left: 48%;
        font-size: 15px;
        
      }

      .part2 .quantity .button div {
        height: 30px;
        width: 30px;
       
      }

      .part2 .button {
        display: flex;
        gap: 10px;
        position: absolute;
        left: 43%;
        top: 130px;
      }

      .part2 .button button {
        height: 20px;
        width: 20px;
        margin-top: 5px;
        border-radius: 20px;
        border: none;
      }

      .part2 .total {
        line-height: 20px;
        
      }

      .part2 .total .prize {
        color: #fb5607;
        font-size: 15px;
        margin-top: -1px;
        margin-left:10% ;
      }

      .part2 .total h3 {
        position: absolute;
        top: 105px;
        left: 76%;
        font-size: 15px;
        margin-left: 28px;
      }

      .part2 .total span {
        position: absolute;
        display: flex;
        font-size: 15px;
        top: 130px;
        left: 82%;
      }
      #cat {
        position: absolute;
        top: 150px;
        left: 20%;
        height: 200px;
        width: 200px;
      }
     
      }
    </style>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <%- include('layout/header') -%>
  </head>

  <body>
    <%- include('layout/navbar') -%>
    <div class="container">
      <h1>Welcome to your cart</h1>
      <% if(data==undefined){ %>
      <img src="/miscellaneous/cart cat.png" alt="" id="cat" />
      <% }else{ %>
      <div class="cardHead">
        <% data.forEach((item)=>{ %> 
          <% const matching=cartItem.find((data)=>item._id.toString() == data.id.toString()); %>
         <% if(matching){ %>
        <div class="card" id="<%= matching.id %>">
          <div class="part1">
            <div class="img">
              <img src="/<%= item.image[0] %>" alt="" />
            </div>
            <div class="detailes">
              <h2><%= item.name %></h2>
              <p class="brand"><%= item.brand %></p>
              <p>Color : <span> <%= item.color %> </span></p>
            </div>
            <div class="buttons">
              <button
                id="btn"
                onclick="delcartItem('<%= matching.id %>','<%= matching.count %>','<%= item.offerprize %>')"
              >
                <i class="fa-solid fa-trash-can"></i>
              </button>
              <button><i class="fa-solid fa-heart"></i></button>
            </div>
          </div>
          <div class="part2">
            <div class="prize">
              <p>Price</p>
              <div class="prizePart">
                <del>₹<%= item.prize %></del>
                <span
                  >₹ <span id="offerprize"> <%= item.offerprize %> </span></span
                >
              </div>
            </div>
            <div class="quantity">
              <p>Quantity</p>
              <div class="button">
                <button
                  onclick="decrement('<%= matching.id %>')"
                  data-item-id="<%= matching.id %>"
                >
                  <i class="fa-solid fa-minus"></i>
                </button>
                <div id="quantity"><%= matching.count %></div>
                <button
                  onclick="increment('<%= matching.id %>')"
                  data-item-id="<%= matching.id %>"
                >
                  <i class="fa-solid fa-plus"></i>
                </button>
              </div>
            </div>
            <div class="total">
              <h3>Total</h3>
              <span
                >₹
                <p class="prize" id="tprize">
                  <%= item.offerprize * matching.count %>
                </p>
              </span>
            </div>
          </div>
        </div>
        <% } %> <% }) %>    
      </div>
      <div class="prizeDetailed">
        <div class="head">Cart summary</div>
        <div class="prizeDetailes">
          <div>
            <p>Sub total :</p>
            <div id="subtotal"><%= subtotal %></div>
          </div>
          <div>
            <p>Shipping charge :</p>
            <div id="shipping">50</div>
          </div>
          <div style="background-color: #f0f0f0">
            <p class="last">Total :</p>
            <span
              style="
                font-size: 25px;
                font-weight: bold;
                position: absolute;
                top: 80%;
                left: 61%;
                width: 130px;
                text-align: center;
              "
              id="total"
            >
              <%= subtotal %>
            </span>
          </div>
        </div>
      </div>
      <div class="desition">
        <button
          style="background-color: lightgray; color: black"
          onclick="window.location.href='/user/home'"
        >
          <i class="fa-solid fa-arrow-left"></i>&nbsp;&nbsp;&nbsp;continew
          shopping
        </button>
        <button style="background-color: #198754" onclick="window.location.href='/user/checkout/<%= cartData._id %>'">
          <i class="fa-solid fa-cart-shopping"></i
          >&nbsp;&nbsp;&nbsp;&nbsp;Checkout
        </button>
      </div>
      
      <%} %>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const cards = document.querySelectorAll(".card");
        const shipping = document.getElementById("shipping");
        let subtotal = document.getElementById("subtotal");
        let total = document.getElementById("total");
        if (subtotal.innerText > 1000) {
          shipping.innerText = "Free delivery";
          shipping.style.color = "green";
        } else {
          total.innerText = 50 + parseInt(subtotal.innerText);
          if (subtotal.innerText == 0) {
            total.innerText = 0;
          }
        }

        cards.forEach((card) => {
          const div = card.querySelector(".quantity #quantity");
          const totalPrize = card.querySelector(".total .prize");
          const offerprize = card.querySelector("#offerprize");
          const offervalue = parseInt(offerprize.innerText);

          const itemId = card
            .querySelector(".quantity button")
            .getAttribute("data-item-id");
          function decrement(Id) {
            if (div.innerText >= 2) {
              div.innerText = parseInt(div.innerText) - 1;
              totalPrize.innerText =
                parseInt(div.innerText) * parseInt(offerprize.innerText);
              currentQuantity = div.innerText;
              toaxios(Id, currentQuantity, -offervalue);
            } else {
              alert("Choose minimum quantity one");
            }
          }

          function increment(Id) {
            div.innerText = parseInt(div.innerText) + 1;
            totalPrize.innerText =
              parseInt(div.innerText) * parseInt(offerprize.innerText);
            currentQuantity = div.innerText;
            toaxios(Id, currentQuantity, offervalue);
          }

          card
            .querySelector(".quantity button:first-child")
            .addEventListener("click", () => {
              decrement(itemId);
            });

          card
            .querySelector(".quantity button:last-child")
            .addEventListener("click", () => {
              increment(itemId);
            });
        });
      });

      // axios function
      function toaxios(id, quantity, offervalue) {
        console.log("the offerprize is :", offervalue);
        axios
          .post(`/user/quantity/${id}/${quantity}`)
          .then((res) => {
            total.innerText = offervalue + parseInt(total.innerText);
            subtotal.innerText = offervalue + parseInt(subtotal.innerText);
            if (subtotal.innerText > 1000) {
              shipping.innerText = "Free delivery";
              shipping.style.color = "green";
              total.innerText = subtotal.innerText;
            } else {
              shipping.innerText = 50;
              shipping.style.color = "black";
              total.innerText = 50 + parseInt(subtotal.innerText);
            }
          })
          .catch((err) => {
            console.log(err);
          });
      }

      // remove item from cart
      function delcartItem(id, quantity, offerprize) {
        console.log(quantity);
        console.log(offerprize);
        axios
          .delete(`/user/delcartItem/${id}`)
          .then((res) => {
            const card = document.getElementById(id);
            let subtotal = document.getElementById("subtotal");
            let total = document.getElementById("total");
            card.remove();
            subtotal.innerText =
              -quantity * offerprize + parseInt(subtotal.innerText);
            if (subtotal.innerText > 1000) {
              total.innerText = subtotal.innerText;
              shipping.innerText = "Free delivery";
              shipping.style.color = "green";
            } else {
              shipping.innerText = 50;
              shipping.style.color = "black";
              total.innerText = 50 + parseInt(subtotal.innerText);
            }
            let checkcard = document.querySelectorAll(".card");
            if (checkcard.length == 0) {
              subtotal.innerText = 0;
              total.innerText = 0;
            }
          })
          .catch((err) => {
            console.log(err);
          });
      }
    </script>
  </body>
</html>
