<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ShopX|complete your profile</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      
      .image p {
        font-family: sans-serif;
        font-weight: bold;
        position: absolute;
        top: 90px;
        left: 12%;
        color: white;
      }
      .image .email {
        margin-top: 20px;
      }
      .part1 {
        height: 400px;
        width: 30%;
        position: relative;
        /* border: 1px solid black; */
        padding-top: 80px;
      }
      label {
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
      }
      input,
      select {
        padding-left: 10px;
        height: 40px;
        width: 55%;
        margin-left: 0px;
        border-radius: 5px;
        border: none;
        font-weight: bold;
      }
      input:focus {
        outline: none;
      }

      .part2 {
        height: 400px;
        width: 30%;
        position: relative;
        /* border: 1px solid black; */
        padding-top: 80px;
      }

      .mainpart {
        display: flex;
        height: 400px;
        width: 90%;
        position: relative;
        top: 50px;
        left: 3%;
        /* background-color: red; */
      }
      .part3 {
        height: 400px;
        width: 40%;
        position: relative;
        /* border: 1px solid black; */
      }
      .part3 label {
        font-size: 15px;
      }
      .part3 input {
        height: 40px;
        width: 80%;
        margin-left: 10px;
        font-size: 15px;
      }
      .part3 p {
        text-align: center;
        font-family: sans-serif;
        font-weight: bolder;
        font-size: 25px;
      }
      .part3 .part3one {
        width: 50%;
      }
      .part3 .part3two {
        width: 50%;
      }
      .part3Head {
        display: flex;
        position: relative;
        top: 50px;
        left: 50px;
      }
      .save {
        height: 40px;
        width: 200px;
        position: absolute;
        top: 550px;
        left: 70%;
        font-size: 20px;
        background-color: #70e000;
        border: none;
        border-radius: 5px;
        color: white;
      }
      .image {
        height: 150px;
        width: 150px;
        border-radius: 150px;
        /* background-color: red; */
      }
      .image img {
        height: 100%;
        width: 100%;
        border-radius: 100%;
        background: white;
      }

      @media (max-width: 860px) {
        .part1 label + br,
        .part2 label + br,
        .part3 label + br,
        .part1 input + br,
        .part2 input + br,
        .part3 input + br {
          display: none;
        }
        .image {
          height: 150px;
          width: 150px;
          border-radius: 150px;
          /* background-color: red; */
        }
        .image img {
          height: 100%;
          width: 100%;
          border-radius: 100%;
          background: white;
        }
        .image p {
          font-family: sans-serif;
          font-weight: bold;
          position: absolute;
          top: 90px;
          left: 12%;
          color: white;
        }
        .image .email {
          margin-top: 20px;
        }
        .part1 {
          height: 230px;
          width: 30%;
          position: relative;
          left: 30%;
          /* border: 1px solid black; */
          /* padding-top: 80px; */
        }
        label {
          font-size: 20px;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: bold;
        }
        input,
        select {
          padding-left: 10px;
          height: 40px;
          width: 95%;
          margin-left: 0px;
          border-radius: 5px;
          border: none;
          font-weight: bold;
          background-color: white;
        }
        input:focus {
          outline: none;
        }

        .part2 {
          height: 230px;
          width: 90%;
          position: relative;
          padding-top: 0px;
        }

        .mainpart {
          display: block;
         
        }
        .part3 {
          height: 400px;
          width: 90%;
          position: relative;
          /* border: 1px solid black; */
        }
        .part3 label {
          font-size: 15px;
        }
        .part3 input {
          height: 40px;
          width: 80%;
          margin-left: 0px;
          font-size: 15px;
        }
        .part3 p {
          display: none;
        }
        
        .part3Head {
          display: flex;
          position: relative;
          top: 10px;
          left: 0px;
        }
        .save {
          height: 40px;
          width: 200px;
          position: absolute;
          top: 850px;
          left: 25%;
          font-size: 20px;
          background-color: #70e000;
          border: none;
          border-radius: 5px;
          color: white;
        }
        .image {
          height: 150px;
          width: 150px;
          border-radius: 150px;
          /* background-color: red; */
        }
      }
    </style>
    <%- include('layout/header') -%>
  </head>
  <body>
    <%- include('layout/navbar') -%>
    <div class="container">
      <form
        action="/user/postProfile"
        method="post"
        enctype="multipart/form-data"
      >
        <div class="mainpart">
          <div class="part1">
            <div class="image">
              <img id="previewImage" src="" alt="" />
            </div>
            <label for="image">Image</label><br /><br />
            <input
              type="file"
              id="imageInput"
              name="image"
              onchange="previewImage(event)"
            /><br /><br /><br />
          </div>
          <div class="part2">
            <label for="name">Name</label><br /><br />
            <input
              type="text"
              name="name"
              value="<%=prodata.name %>"
            /><br /><br /><br />

            <label for="email">DOB</label><br /><br />
            <input
              type="date"
              name="dob"
              value="<%=prodata.dob %>"
            /><br /><br /><br />

            <label for="">Gender</label><br /><br />
            <select name="gender" id="">
              <option value="<%=prodata.gender %>"><%=prodata.gender %></option>
              <option value="Male">Male</option>
              <option value="Female">Female</option></select
            ><br /><br /><br />
          </div>
          <div class="part3">
            <p>Address</p>
            <div class="part3Head">
              <div class="part3one">
                <label for="name">House Name</label><br /><br />
                <input
                  type="text"
                  name="HouseName"
                  value="<%=prodata.housename %>"
                /><br /><br /><br />

                <label for="email">Street Name</label><br /><br />
                <input
                  type="text"
                  name="StreetName"
                  value="<%=prodata.Streetname %>"
                /><br /><br /><br />

                <label for="">Post </label><br /><br />
                <input
                  type="text"
                  name="post"
                  value="<%=prodata.post %>"
                /><br /><br /><br />
              </div>
              <div class="part3two">
                <label for="">Pincode</label><br /><br />
                <input
                  type="number"
                  name="pincode"
                  value="<%=prodata.pincode %>"
                /><br /><br /><br />

                <label for="">District</label><br /><br />
                <input
                  type="text"
                  name="district"
                  value="<%=prodata.district %>"
                /><br /><br /><br />

                <label for="">State</label><br /><br />
                <input
                  type="text"
                  name="state"
                  value="state"
                /><br /><br /><br />
              </div>
            </div>
          </div>
        </div>
        <button class="save" type="submit">Save</button>
      </form>
    </div>
    <script>
      function previewImage(event) {
        const preview = document.getElementById("previewImage");
        const file = event.target.files[0];
        const reader = new FileReader();

        reader.onloadend = function () {
          preview.src = "/" + reader.result;
        };

        if (file) {
          reader.readAsDataURL(file);
        } else {
          preview.src = "";
        }
      }
    </script>
  </body>
</html>
