<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>shopX</title>
    <%- include('layout/header') -%>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <div class="container">
        <!-- navbar -->
    <%- include('layout/navbar') -%>

    <!-- banner -->
    <div class="bannerhead">
        <% banner.forEach((data)=>{ %> 
            <div class="banner">
                <img src="/<%= data.image %>" class="slider" alt="ðŸ˜">
            </div>
             <%   })  %>
             <div class="btnnav">
                <button  onclick="goPrev()"><i class="fa-solid fa-angle-left"></i></button>
                <button  onclick="goNext()"><i class="fa-solid fa-chevron-right"></i></button>
            </div>
    </div>

    <!-- category lish -->
    <h1 class="categoryh1">Select your category</h1>
    <div class="listcategory">
        <% categories.forEach((data)=>{ %>
        <div class="categorycard" onclick="window.location.href='/user/categoryproduct/<%= data.category %>'">
            <img src="/<%= data.image %>" alt="ðŸ˜" >
            <p><%= data.category %></p>
        </div>
    <% }) %>  
    </div>
    
    <!--showing first 10 product  -->
    <h1 class="product-h1">Offer product</h1>
    <div class="product">
        <% product.forEach((data)=>{ %>
        <div class="procard" onclick="window.location.href='/user/singleproduct/<%= data._id %>'">
            <img src="/<%= data.image[0] %>" alt="ðŸ˜">
            <p class="name"><%= data.name %></p>
            <p class="prize">Just at â‚¹ <%= data.offerprize %> </p>
        </div>
     <% }) %> 
    </div>
    <button class="btnshowall" onclick="window.location.href='/user/showallproduct'">Show all &nbsp;&nbsp; <i class="fa-solid fa-arrow-right"></i></button>
    <br><br><br><br><br><br><br><br><br>


    <!-- footer -->
    <br><br>
    <%- include('layout/footer') -%>
    </div>
<script src="/userhome.js"></script>
</body>
</html>